<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Game name</th>
      <th>Item</th>
      <th>Total price</th>
      <th>Status</th>
      <th>Player name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i= 0; i<transaction.length; i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td>
            <ul class="list-inline">
              <li class="list-inline-item">
                <img src="https://project-storegg.herokuapp.com/uploads/<%= transaction[i].historyVoucherTopup.thumbnail %>" width="48px" height="48px" alt="thumbnail">
              </li>
            </ul>
            <%= transaction[i].historyVoucherTopup?.gameName %>
          </td>
          <td><%= transaction[i].historyVoucherTopup.coinName %></td>
          <td><%= transaction[i].value %></td>
          <td>
            <% if(transaction[i].status === "pending"){ %>
              <span class="badge badge-warning">
                <%= transaction[i].status %>
              </span>
            <% }else if(transaction[i].status === "success"){ %>
                <span class="badge badge-success">
                  <%= transaction[i].status %>
                </span>
            <% } else { %>  
                <span class="badge badge-danger">
                  <%= transaction[i].status %>
                </span>
            <% } %>  
          </td>
          <td><%= transaction[i]?.player?.name ?? '-' %></td>
          <td>
            <% if(transaction[i].status === "pending"){ %> 
              <form style="display: inline-block;" action="/transaction/status/<%= transaction[i]._id %>?status=failed&_method=PUT" method="POST" >
                <button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i> Reject</button>
              </form>
              <form style="display: inline-block;" action="/transaction/status/<%= transaction[i]._id %>?status=success&_method=PUT" method="POST" >
                <button class="btn btn-success btn-sm"><i class="fas fa-check-circle"></i> Accept</button>
              </form>
            <% } %> 
            <a class="btn btn-warning btn-sm" href="/transaction/detail/<%= transaction[i]._id %>" ><i class="fas fa-info-circle"></i> Detail</a>
          </td>
        </tr>
      <% } %>  
    </tbody>
  </table>