<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Payment</th>
      <th>Bank</th>
      <th>status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < payment.length; i++){ %> 
      <tr>
        <td><%= i+1 %> </td>
        <td><%= payment[i].type %></td>
        <td>
          <% payment[i].banks.map(bank=>{ %>
            <span class="badge badge-secondary">
              <%= bank.name %> | <%= bank.nameBank %>
            </span>
          <% }) %>
        </td>
        <td>
          <% if(payment[i].status === "Y"){ %>
            <span class="badge badge-success">
              active
            </span>
          <% } else { %>
            <span class="badge badge-danger">
              not active
            </span>
          <% } %>
        </td>
        <td>
          <form action="/payment/status/<%= payment[i]._id %>?_method=PUT" method="POST" style="display: inline-block;">
            <% if(payment[i].status === "Y"){ %>
              <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-eye"></i> Turn off</button>
            <% } else { %>
              <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-eye-slash"></i> Turn on</button>
            <% } %>
          </form>
          <a class="btn btn-warning btn-sm" href="/payment/edit/<%= payment[i]._id %>"><i class="fas fa-pencil-alt"></i> Edit</a>
          <form action="/payment/delete/<%= payment[i]._id %>?_method=DELETE" method="POST" style="display: inline-block;">
            <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</button>
          </form>
        </td>
      </tr>
    <% } %> 
  </tbody>
</table>
